<div style="margin-top: 30px;">

  <!--<div style="text-align: center;">
  <button routerLink="/vendors">Pune</button>
  <span style="margin-right: 30px;"></span> 
  
  
  <button routerLink="/vendors">Mumbai</button>
  <span style="margin-right: 30px;"></span> 
  
  
  <button routerLink="/vendors">Nashik</button>
  <span style="margin-right: 30px;"></span> 
  
    
<div style="margin-top: 30px;">
<input type="search" style="width: 150px;" placeholder="search your location">
<button type="submit" value="search" style="width: 10;">search</button>


 <router-outlet></router-outlet>

  </div>
  </div>
  </div>  -->



<div style="text-align: center;">
  <div class="container">
<div *ngFor="let desh of databasename.location">
  <button (click)="mymethod(desh.city)" > {{ desh.city }}</button>
</div>
</div>

</div>
